@keyframes animateBackground {
  0% { background-color: #bbdfdf; }
  50% { background-color: #aff6f1; }
  100% { background-color: #65ddf0; }
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: animateBackground 5s infinite;
}
