@keyframes animateBackground {
  0% { background-color: #e0ebbd; }
  50% { background-color: #def2b2; }
  100% { background-color: #d0f065; }
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: animateBackground 5s infinite;
}
